//Styles for search input usually found in page header area.  Modified for each project.  Not used for large central search field on homepage, use _components.home-search.less for that

//mobile
@searchbox-mobile-input-bg: #fff;



.search-trigger,
.top_links,
.close_search,
.search_overlay {
    display: none;
}

#searchbox {
    background: @searchbox-mobile-bg;
    border: 0;
    height: auto;
    margin: 0;
    padding: 6px 5px;
    width: 100%;
    top: auto;
    bottom: 0;
    position: absolute;

    input#search_text {
        background: @searchbox-mobile-input-bg;
        border: 0 none !important; /*keep important*/
        border-radius: 0;
        color: @searchbox-mobile-text-color;
        font-size: @searchbox-mobile-font-size !important; /*keep important*/
        height: 28px;
        line-height: 28px !important;
        margin: 0;
        padding: 0 36px 0 7px;
        width: 100%;

        &::-webkit-input-placeholder {
            color: @searchbox-mobile-text-color;
            font-size: @searchbox-mobile-font-size;
            opacity: 1 !important;
        }

        &:-moz-placeholder {
            color: @searchbox-mobile-text-color;
            font-size: @searchbox-mobile-font-size;
            opacity: 1 !important;
        }
        //need both for firefox
        &::-moz-placeholder {
            opacity: 1 !important;
            color: @searchbox-mobile-text-color;
            font-size: @searchbox-mobile-font-size;
        }

        &:-ms-input-placeholder {
            color: @searchbox-mobile-text-color;
            font-size: @searchbox-mobile-font-size;
            opacity: 1 !important;
        }

        &:focus {
        }
    }

    > a {
        background: url("_gfx/cmn/search_input_mobile.png") no-repeat center center;
        border: 0 none !important;
        height: 28px !important;
        margin: 0;
        position: absolute;
        right: 5px;
        text-align: left;
        text-decoration: none;
        text-indent: -4000px;
        top: 6px;
        width: 29px;
        overflow: hidden;
    }

    &.active {
    }
}


/***48em = 768px ***/
@media screen and (min-width: 48em) {
    .search-trigger {
        position: absolute;
        right: auto;
        top: @siteheader-height;
        margin-left: ~"calc(" @max-width-portrait ~" - " @search-trigger-width ~")";
        display: block;
        cursor: pointer;
        background: url("_gfx/cmn/search_icon.svg") no-repeat center center;
        background-size: 20px auto;
        height: @nav-height;
        float: right;
        width: @search-trigger-width;
        text-indent: -4000px;
        text-align: left;
        overflow: hidden;

        &.active {
            background: url("_gfx/cmn/close_icon.svg") no-repeat center center;
            background-size: 20px auto;
        }
    }

	#searchbox {
		margin: 0;
		bottom: auto;
		width: @searchbox-width;
		height: @searchbox-height;
		padding: 0;
		background: @searchbox-bg;
		border: @searchbox-border;
		border-radius: 0;
		overflow: hidden;
		display: none;
		.transition();
		position: absolute;
		right: auto;
		top: -@searchbox-height;
		margin-left: ~"calc(" @max-width-portrait ~" - " @searchbox-width ~")";

		&.active_search {
			top: @siteheader-height + @nav-height;
			display: block;
		}

		input#search_text {
			color: @searchbox-text-color;
			font-size: @searchbox-desktop-font-size !important;
			height: @searchbox-height;
			line-height: @searchbox-height !important;
			background: transparent;
			padding: 0 @searchbox-icon-width 0 12px;
			font-family: @searchbox-font-family;
			text-transform: @searchbox-text-transform;

			&::-webkit-input-placeholder {
				font-size: @searchbox-desktop-font-size;
				color: @searchbox-text-color;
				font-family: @searchbox-font-family;
				text-transform: @searchbox-text-transform;
			}

			&:-moz-placeholder {
				font-size: @searchbox-desktop-font-size;
				color: @searchbox-text-color;
				font-family: @searchbox-font-family;
				text-transform: @searchbox-text-transform;
			}

			&::-moz-placeholder {
				font-size: @searchbox-desktop-font-size;
				color: @searchbox-text-color;
				font-family: @searchbox-font-family;
				text-transform: @searchbox-text-transform;
			}

			&:-ms-input-placeholder {
				font-size: @searchbox-desktop-font-size;
				color: @searchbox-text-color;
				font-family: @searchbox-font-family;
				text-transform: @searchbox-text-transform;
			}
		}

		> a {
			display: inline-block;
			right: 0;
			top: 0;
			height: @searchbox-icon-height !important;
			width: @searchbox-icon-width;
			max-height: 100%;
			border-radius: @searchbox-icon-border-radius;
			background: @searchbox-icon-bg url("_gfx/cmn/search_input_bg.png") no-repeat center center;
			.transition();

			&:hover {
				background-color: @searchbox-icon-bg-hover;
			}
		}
	}
}
/***62em = 992px***/
@media only screen and (min-width: 62em) {
    .search-trigger {
        margin-left: ~"calc(" @max-width-landscape ~" - " @search-trigger-width ~")";
    }

    #searchbox {
        margin-left: ~"calc(" @max-width-landscape ~" - " @searchbox-width ~")";
    }
}
/***75em = 1200px***/
@media only screen and (min-width: 75em) {

    .search-trigger {
        margin-left: ~"calc(" @max-width ~" - " @search-trigger-width ~")";
    }

    #searchbox {
        margin-left: ~"calc(" @max-width ~" - " @searchbox-width ~")";
    }
}


& when (@wide-layout = true) {
    /*1366px*/
    @media only screen and (min-width:85.375em) {
        .search-trigger {
            margin-left: ~"calc(" @max-width-wide ~" - " @search-trigger-width ~")";
        }

        #searchbox {
            margin-left: ~"calc(" @max-width-wide ~" - " @searchbox-width ~")";
        }
    }
}
