
@sticky-logo-width-portrait: 85px; // width of logo in sticky header on portrait view
@sticky-logo-width: 126px; //width of logo in sticky header in landscape view and up.


/***48em = 768px ***/
@media screen and (min-width: 48em) {
	& when (@sticky-header = true) {
		.sticky_header {
			.sitewrapper {
				//backgrounds
				&:before {
					position: fixed;
					height: @stickyheader-height;
					z-index: 7;
					top: 0;
					background: #fff;
				}
				//&:after{display:none;}
			}

			.mainSpan_wrapper_home{

				&:before {
					background:#fff;
				}

			}
			//header, logo, top nav, translate
			#siteheader {
				z-index: 11;

				a#home_link {
					position: fixed;
					height: @stickyheader-height;
					left: auto;
					top: 0px;
					width: @sticky-logo-width-portrait;
					background: url(_gfx/cmn/logo-sticky.svg) 0 center no-repeat !important;
					background-size: 100% auto !important;
					margin: 0 auto;
				}

				#top_nav {
					display: none;
				}

				.translatebox {
					display: none !important;
				}

				&:before {
					content: '';
					width: 339px;
					height: 100px;
					background: url('_gfx/cmn/seal_sticky.png') no-repeat center;
					position: fixed;
					top: 0;
					left: 260px;
					background-size: cover;
				}
			}
			//search
			.search-trigger {
				position: fixed;
				//right: auto;
				top: 25px;
				//margin-left: ~"calc(" @max-width-portrait ~" - " @sticky-search-trigger-width ~")";
				//display: block;
				//cursor: pointer;
				//background:  #CC421C url("_gfx/cmn/search-main.svg") no-repeat center center;
				// background-size: 20px auto;
				height: @nav-height;
				//float: right;
				width: @search-trigger-width;
				text-indent: -4000px;
				//text-align: left;
				//overflow: hidden;
				//margin: 0;
				//left: 344px;

				&:hover {
					background: url("_gfx/cmn/search-main.svg") no-repeat center center,  linear-gradient(310deg, #D83B10, #EB6946);
				}
			}

			.drtv_button {
				position: fixed;
				top: 25px;
			}

			& when not(@search-type = overlay) {
				//for expandable search
				.top_search {
					margin: 0 auto;
					top: 0;
				}

				#searchbox {
					display: none;
					.transition();
					position: absolute;
					right: 0;
					left: auto;
					top: -@searchbox-height;
					//margin-left: ~"calc(" @max-width-portrait ~" - " @searchbox-width ~")";
					&.active_search {
						top: @stickyheader-height;
						display: block;
					}
				}
			}

			.top_search {
				position: fixed;
				max-width: @max-width-portrait;
				width: 100%;
			}


			.mainnav {
				top: auto;
				position: relative;

				.dropdownmenu {
					padding: 0 0 0 50px;
					margin-left: 70px;
					margin-right: @sticky-search-trigger-width;
					//max-width-portrait minus the margins
					width: @max-width-portrait - @sticky-logo-width-portrait - 15 - @sticky-search-trigger-width;
					position: fixed;
					top: 25px;
					z-index: 11;

					> li > a {
						font-size: 17px;
					}
				}
			}

			#dropdownrootitem8 .widthcontainer1col,
			#dropdownrootitem7 .widthcontainer1col {
				right: -208px;
			}

			#dropdownrootitem8 .widthcontainer2col,
			#dropdownrootitem7 .widthcontainer2col,
			#dropdownrootitem6 .widthcontainer2col {
				right: -208px;
			}

			#dropdownrootitem5 .widthcontainer3col,
			#dropdownrootitem6 .widthcontainer3col,
			#dropdownrootitem7 .widthcontainer3col,
			#dropdownrootitem8 .widthcontainer3col {
				right: -208px;
			}

			#sitebody .dropdownmenu .widthcontainer4col,
			#sitebody .dropdownmenu .widthcontainer5col,
			#sitebody .dropdownmenu .widthcontainer6col,
			#sitebody .dropdownmenu .widthcontainer7col,
			#sitebody .dropdownmenu .widthcontainer8col {
				width: @max-width-portrait;
				right: -208px;
				top: 75px;
			}
		}

		& when (@search-type = overlay) {
			//to make sure search overlay is over the header not under
			.sticky_header .search_open {
				#siteheader {
					z-index: auto;
				}
			}
		}
	}
}
/*62em = 992px*/
@media only screen and (min-width:62em) {
	& when (@sticky-header = true) {
		.sticky_header {
			.search-trigger {
				margin-left: ~"calc(" @max-width-landscape ~" - " @sticky-search-trigger-width + 60px ~")";
			}

			.top_search {
				max-width: @max-width-landscape;
			}

			#siteheader {
				a#home_link {
					width: @sticky-logo-width;
				}
			}

			.mainnav {
				.dropdownmenu {
					
					margin-left: @sticky-logo-width + 15px;
					//max-width-landscape minus the margins
					width: @max-width-landscape - @sticky-logo-width - 15 - @sticky-search-trigger-width - 90px;
					padding: 0 0px 0 76px;
					> li > a {
						//font-size: @nav-font-size;
						font-size: 20px;
					}
				}
			}

			#sitebody .dropdownmenu .widthcontainer4col,
			#sitebody .dropdownmenu .widthcontainer5col,
			#sitebody .dropdownmenu .widthcontainer6col,
			#sitebody .dropdownmenu .widthcontainer7col,
			#sitebody .dropdownmenu .widthcontainer8col {
				width: @max-width-landscape;
			}
		}
	}
}
/*75em = 1200px*/
@media only screen and (min-width:75em) {
	& when (@sticky-header = true) {
		.sticky_header {
			.search-trigger {
				margin-left: ~"calc(" @max-width ~" - " @sticky-search-trigger-width + 60px ~")";
			}

			.top_search {
				max-width: @max-width;
			}

			.mainnav {
				.dropdownmenu {
					//max-width minus the margins
					width: @max-width - @sticky-logo-width - 15 - @sticky-search-trigger-width - 90px;
					padding: 0 0 0 130px;
				}
			}

			#sitebody .dropdownmenu .widthcontainer4col,
			#sitebody .dropdownmenu .widthcontainer5col,
			#sitebody .dropdownmenu .widthcontainer6col,
			#sitebody .dropdownmenu .widthcontainer7col,
			#sitebody .dropdownmenu .widthcontainer8col {
				width: @max-width;
			}
		}
	}
}

& when (@wide-layout = true) {
	/*1366px*/
	@media only screen and (min-width:85.375em) {
		& when (@sticky-header = true) {
			.sticky_header {
				.search-trigger {
					margin-left: ~"calc(" @max-width-wide ~" - " @sticky-search-trigger-width + 60px ~")";
				}

				.top_search {
					max-width: @max-width-wide;
				}

				.mainnav {
					.dropdownmenu {
						//max-width-wide minus the margins
						width: @max-width-wide - @sticky-logo-width - 15 - @sticky-search-trigger-width - 110px;
						padding: 0 0px 0 330px;
					}
				}

				#sitebody .dropdownmenu .widthcontainer4col,
				#sitebody .dropdownmenu .widthcontainer5col,
				#sitebody .dropdownmenu .widthcontainer6col,
				#sitebody .dropdownmenu .widthcontainer7col,
				#sitebody .dropdownmenu .widthcontainer8col {
					width: @max-width-wide;
				}
			}
		}
	}
}
